* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-size: 0.94rem;
    font-family: "Outfit", sans-serif;
}


section {
    background: hsl(0, 0%, 100%);
    padding: 1em;
    border-radius: 5%;
    margin: auto;
    width: 90%;
    max-width: 375px;
}


img {
    border-radius: 5%;
    max-width: 100%;
}

.text {
    padding: 1.5em 1.7em;
    text-align: center;
}

h1 {
    font-weight: 900;
    color: hsl(218, 44%, 22%);
}

p {
    padding-top: 1em;
    line-height: 1.25em;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 0.6rem; 
    text-align: center; 
    padding: 1em;
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}