* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 1rem;
    font-family: "Outfit";
    padding:
}

section {
    background: hsl(0, 0%, 100%);
    padding: 1em;
    border-radius: 5%;
}

section {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin:  4em auto;
    width: 90%;
    max-width: 375px;
}

img {
    border-radius: 5%;
    max-width: 100%;
}

.text {
    padding: 2em 1.7em;
    text-align: center;
}

h1 {
    font-weight: 900;
    color: hsl(218, 44%, 22%);
}

p {
    padding-top: 1.5em;
    line-height: 1.25em;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}